body{
    width: 100vw;
    height: 100vh;
    background-color: black;

}

.bulb{
   margin-left: 20%;
    height: 500px;
    width: 350px;
}

.bttn{
    width: 1;
    background-color: red;
    color: aliceblue;
}